In [1]:
def imp():
  '''Llamado de librerías que permiten el uso de funciones para la ejecución
  del código'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
print(imp.__doc__)

Llamado de librerías que permiten el uso de funciones para la ejecución
  del código

In [2]:
def dts():
  '''Lectura del dataset, esto usando separadores de ";"'''
df = pd.read_csv("data_act_01.csv",sep=";")
print(dts.__doc__)
df.head(10)

Lectura del dataset, esto usando separadores de ";"

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,NaN,Intersection
6,160913050,Homeless Complaint,2016-03-31T00:00:00,18:43,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,NaN,Intersection
7,160913056,Homeless Complaint,2016-03-31T00:00:00,18:47,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,NaN,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T00:00:00,18:52,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,NaN,Premise Address
9,160913103,Encampment,2016-03-31T00:00:00,18:57,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,NaN,Premise Address

# Cálculo de valores nulos en el dataset

In [3]:
def nuls():  
  '''Calcular el número de datos nulos por cada columna'''
print(nuls.__doc__)
df.isnull().sum()

Calcular el número de datos nulos por cada columna

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

# Primera detección de errores del dataset
Eliminación de columna con datos nulos.

In [4]:
def dnuls():
  '''Eliminación de columna con datos nulos'''
df = df.drop(['Range'], axis=1)
print(dnuls.__doc__)
df.head()

Eliminación de columna con datos nulos

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection

Inicialmente, el dataset cuenta con una cantidad considerable de errores o de "datos sucios" por así llamarlos. Los datos sucios son datos que contienen un formato que no es posible de usar, esto entorpeciendo la finalidad del dataset existente. En el presente dataset se encuentran diferentes tipos de datos sucios, uno de ellos son los datos nulos, teniendo así que la columna "Range" está compuesta por datos nulos totalmente. Una vez detectado el error de la columna "Range" se procede a realizar un "drop" de la columna, esto eliminándola totalmente del dataset.