In [1]:
def imp():
  '''Llamado de librerías que permiten el uso de funciones para la ejecución
  del código'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
print(imp.__doc__)

Llamado de librerías que permiten el uso de funciones para la ejecución
  del código

In [2]:
def dts():
  '''Lectura del dataset, esto usando separadores de ";"'''
df = pd.read_csv("data_act_01.csv",sep=";")
print(dts.__doc__)
df.head(10)

Lectura del dataset, esto usando separadores de ";"

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,NaN,Intersection
6,160913050,Homeless Complaint,2016-03-31T00:00:00,18:43,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,NaN,Intersection
7,160913056,Homeless Complaint,2016-03-31T00:00:00,18:47,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,NaN,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T00:00:00,18:52,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,NaN,Premise Address
9,160913103,Encampment,2016-03-31T00:00:00,18:57,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,NaN,Premise Address

# Cálculo de valores nulos en el dataset

In [3]:
def nuls():  
  '''Calcular el número de datos nulos por cada columna'''
print(nuls.__doc__)
df.isnull().sum()

Calcular el número de datos nulos por cada columna

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

# Primera detección de errores del dataset
Eliminación de columna con datos nulos en la columna "Range"

In [4]:
def dnuls():
  '''Eliminación de columna con datos nulos'''
df = df.drop(['Range'], axis=1)
print(dnuls.__doc__)
df

Eliminación de columna con datos nulos

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

Inicialmente, el dataset cuenta con una cantidad considerable de errores o de "datos sucios" por así llamarlos. Los datos sucios son datos que contienen un formato que no es posible de usar, esto entorpeciendo la finalidad del dataset existente. En el presente dataset se encuentran diferentes tipos de datos sucios, uno de ellos son los datos nulos, teniendo así que la columna "Range" está compuesta por datos nulos totalmente. Una vez detectado el error de la columna "Range" se procede a realizar un "drop" de la columna, esto eliminándola totalmente del dataset.

# Segunda detección de datos erroneos
Eliminación de datos nulos dentro de la columna "City"

In [5]:
def ednc():
  '''Eliminación de datos nulos en la columna "City"'''
df = df.dropna()
print(ednc.__doc__)
df

Eliminación de datos nulos en la columna "City"

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

El presente dataset cuenta con dos columnas que contienen datos nulos, estas son la ya limpia columna "Range" y la columna "City". La columna "City" cuenta con datos que representan a la ciudad sobre la que se está refiriendo en el dataset. Dentro de la columna city existen hasta 6 diferentes tipos de ciudades, descontando a estas los datos nulos que entorpecen los registros del dataset. Una vez detectados los datos nulos, se procede a la realización de eliminar los datos nulos, esto con la finalidad de que no entorpezcan los demas datos existentes en el dataset

# Tercera detección de datos erroneos
Reemplazo de datos incompletos dentro de la columna "City"

In [6]:
def gc():
  '''Detección de ciudades'''
print(gc.__doc__)
df.groupby('City').count()

Detección de ciudades

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,AddressType
City,,,,,,,,,,
Brisbane,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3
SAN FRANCISCO,1,1,1,1,1,1,1,1,1,1
San Francisco,9665,9665,9665,9665,9665,9665,9665,9665,9665,9665
Treasure Isla,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3

In [7]:
def rdi():
  '''Reemplazo de datos incompletos existentes en la columna "City"'''
df['City'] = df['City'].replace(' S','San Francisco')
print
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

Los datos existentes en el dataset llegan a ser variados dependiendo de la columna a la que se refiera. Dentro de la columna "City" existen hasta 6 ciudades, pero como es posible verificar en la agrupación, se muestran hasta 7, teniendo fallos en ingreso sobre San Francisco, esto sin mostrar que existe también una ciudad con un dato erroneo que solo contiene la letra "S". La letra "S" existente entre la ciudad, podría referirse a San Francisco, es por esto que se plantea el reemplazar la ciudad "S" por San Francisco. Una vez detectado el error, se usa el comando "replace", mismo que buscará la ciudad "S" y la reemplazará por "San Francisco", esto permitiendo recuperar un dato del dataset.

#Cuarta Detección de errores en el dataset
Reemplazo de datos mal ingresados dentro del dataset.

In [8]:
def rmic():
  '''Reemplazo de ciudad mal ingresada'''
df['City'] = df['City'].replace('SAN FRANCISCO','San Francisco')
print(rmic.__doc__)
df

Reemplazo de ciudad mal ingresada

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [9]:
def gc():
  '''Muestra de ciudad limpia'''
print(gc.__doc__)
df.groupby('City').count()

Muestra de ciudad limpia

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,State,AgencyId,AddressType
City,,,,,,,,,,
Brisbane,1,1,1,1,1,1,1,1,1,1
Daly City,5,5,5,5,5,5,5,5,5,5
Presidio,3,3,3,3,3,3,3,3,3,3
San Francisco,9666,9666,9666,9666,9666,9666,9666,9666,9666,9666
Treasure Isla,51,51,51,51,51,51,51,51,51,51
Yerba Buena,3,3,3,3,3,3,3,3,3,3

En la columna "City" existen 6 ciudades, mismas que cuentan con errores, un caso de esto es la ciudad "SAN FRANCISCO", esta encontrándoce con mayúsculas totales. La ciudad "San Francisco" del dataset se encuentra con mayúsculas y minúsculas, por lo que el error encontrado afecta a datos que sean de la ciudad. La limpieza del error se basa en el reemplazo de la ciudad "SAN FRANCISCO" por "San Francisco". Una vez se limpie el error, se podrá verificar dentro de la agrupación que los datos de "City" se encuentran limpios y sin errores.

#Quinta Detección de errores en el dataset
Reemplazo de valores mal ingresados dentro de la columna "AgencyID".

In [10]:
def rva():
  '''Reemplazo de valores mal ingresados dentro de "AgencyID'''
df['AgencyId'] = df['AgencyId'].replace('CA',1)
print(rva.__doc__)
df

Reemplazo de valores mal ingresados dentro de "AgencyID

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

#Sexta detección de errores en el dataset
Reemplazo de datos erroneos dentro de la columna "Disposition"

In [11]:
def ved():
  '''Verificación de datos erroneos dentro de "Disposition"'''
print(ved.__doc__)
df['Disposition'].unique()

Verificación de datos erroneos dentro de "Disposition"

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'CAN', 'ADM', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

In [12]:
def red():
  '''Reemplazo de datos erroneos dentro de la columna "Disposition"'''
mode = df['Disposition'].unique()
df['Disposition']= df['Disposition'].replace('22', mode[0])
df['Disposition']= df['Disposition'].replace('Not recorded', mode[0])
df['Disposition'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'CIT', 'PAS',
       'ABA', 'NOM', 'CAN', 'ADM', 'INC', 'NCR', 'CRT', 'SFD'],
      dtype=object)

Dentro de la columna "Disposition" se encuentran dos errores, estos son dos datos que fueron ingresados de manera erronea. Los datos erroneos corresponden a "22" y "Not recorded" siendo estos datos que no aportan ningún tipo de información relevante. La manera de solventar el error se muestra al insertar los datos válidos dentro del reemplazador de cada dato erroneo. Una vez ejecutado, los datos se visualizan limpios y sin errores.

# Inserción del dataset en un archivo de tipo JSON.

In [15]:
def djsn():
  '''Ingreso de datos en archivo JSON'''
df.to_json('DatasetLimpioDR.json')